
/* directions */

$ltrdir:ltr;
$rtldir:rtl;
$left:left;
$right:right;

/* //directions */

/* color */
$whitecolor:#fff;
$darkblackcolor:#000;
$darkcolor:#0e0e0e;
$ddblackcolor:#010202;
$dddblackcolor:#1e1e1e;
$blackcolor:#231f20;
$lblackcolor:#323031;
$gblackcolor:#414040;
$darkgraycolor:#404041;
$sdarkgraycolor:#343334;
$fdarkgraycolor:#404040;
$mainredcolor:#ef4e4c;
$eredcolor:#ef5342;
$fredcolor:#f15137;
$dredcolor:#f04f4d;
$lredcolor:#f06d6c;
$bluecolor:#3c3ced;
$dbluecolor:#374f9e;
$pinkcolor:#ec008c;
$orangecolor:#e63312;
$eorangecolor:#e84328;
$greencolor:#163029;
$darkgreencolor:#101711;
$bbrowncolor:#bb8630;
$maingraycolor:#c8c8c8;
$graycolor:#666666;
$dgraycolor:#808184;
$cgraycolor:#7f8285;
$egraycolor:#84878a;
$ddgraycolor:#bbbdbf;
$bgraycolor:#babcbf;
$dddgraycolor:#dad9d9;
$lgraycolor:#e6e7e7;
$llgraycolor:#ebe8e8;
$lllgraycolor:#e6e7e8;
$ngraycolor:#e8e6d4;
$fgraycolor:#f2f2f2;

/* //colors */